<app-navbar></app-navbar>
<div class="container" style="padding: 20px;">
    <div class="row" style="padding: 20px;">
        <div class="col-md-6">
            <img class="imagen" src="{{sources}}"/>            
        </div>
        <div class="col-md-6">
            <h1>{{User.userName}}</h1>
        </div>
    </div>
    <div style="text-align: center; padding-top: 2%;" class="row">
        <h5>Mi Información</h5>
        <div class="col-md-6 caja">
            <input type="text" name="fullName" [(ngModel)]="User.fullName" placeholder="Nombre Completo"/>
        </div>
        <div class="col-md-6 caja">
            <input type="email" name="mail" [(ngModel)]="User.mail" placeholder="Email"/>
        </div>
    </div>
    <div style="text-align: center;" class="row">
        <div class="col-md-6 caja">
            <p>Fecha De Nacimiento:</p>
            <input type="date" name="birthday" [(ngModel)]="User.birthday" placeholder="Fecha Nacimiento"/>
        </div>
        <div class="col-md-6 caja">
            <input type="text" name="relationShip" [(ngModel)]="User.relationShip" placeholder="Estado Civil"/>
        </div>
    </div>
    <div style="text-align: center; padding-top: 2%;" class="row">
        <h5>Más de mi</h5>
        <div class="col-md-6 caja">
            <input type="text" name="hobby" [(ngModel)]="User.hobbies" placeholder="Mi Hobby"/>
        </div>
        <div class="col-md-6 caja">
            <input type="text" name="music" [(ngModel)]="User.music" placeholder="Musica Favorita"/>
        </div>
    </div>
    <div style="text-align: center; padding-top: 2%;" class="row">        
        <h5>Mis padres</h5>
        <div class="col-md-6 caja">
            <input type="text" name="father" [(ngModel)]="User.father" placeholder="Mi Padre"/>
        </div>
        <div class="col-md-6 caja">
            <input type="text" name="mother" [(ngModel)]="User.mother" placeholder="Mi Madre"/>
        </div>
    </div>
    <div style="text-align: center; padding-top: 2%;" class="row">
        <h5>Mi Ubicación</h5>        
        <div class="col-md-6 caja">
            <input type="text" name="country" [(ngModel)]="User.country" placeholder="Mi Pais"/>
        </div>
        <div class="col-md-6 caja">
            <input type="text" name="city" [(ngModel)]="User.city" placeholder="Mi Ciudad"/>
        </div>
    </div>
    <div class="container" style="text-align: center; padding: 4%;">
        <button (click)="GuardarInfo()">Guardar Información</button>
    </div>
</div>