<!-- register.component.html -->
<div class="register" style="padding-bottom: 50px;">
    <div class="custom-form">
      <h1>Register</h1>
      <input
        type="text"
        [(ngModel)]="User.fullName"
        name="fullName"
        placeholder="Full Name"
        required="required"
      />
      <input
        type="email"
        [(ngModel)]="User.mail"
        name="mail"
        placeholder="Email"
        required="required"
      />
      <input
        type="text"
        [(ngModel)]="User.userName"
        name="userName"
        placeholder="Login User"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="pass"
        name="pass"
        placeholder="Password"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="pass2"
        name="pass2"
        placeholder="Repeat the password"
        required="required"
      />
      <div class="container caja">
        <h4 style="text-align: center; padding-top: 5px;padding-bottom: 5px;">Photo for your profile.</h4>
        <div class="row">
          <div class="image col-md-3" *ngFor = 'let av of avatar'>
            
              <img src="{{av.img}}" class="imagen card-img-top" (click)="getAvatarID(av.id)" />
            
          </div>
      </div>
      </div>
      <button (click)="register()">Register</button>
    </div>
  </div>
<!--
      <input
        type="date"
        name="birthday"
        placeholder="Birthday Date"
        required="required"
      />
    -->