<app-navbar></app-navbar>
<div class="row">
    <div class="col-sm-3">
        <img class="imagen" src="https://png.pngtree.com/png-clipart/20200701/original/pngtree-businessman-user-avatar-character-vector-illustration-png-image_5415558.jpg" alt="">
    </div>
    <div class="col-sm-6" style="padding-top: 10px;">
        <textarea name="description" placeholder="Que estas pensando¿?" rows="3" class="form-control"></textarea>        
    </div>
    <div class="col-sm-2" style="padding-top: 33px;">
        <div class="form-row">
            <button class="btn btn-primary btn-block">
                Publicar
            </button>
        </div>
    </div>
</div>
<div class="container">


</div>