.imagen:hover{
    border-color: #aee9b9;  
    box-shadow: 0px 0px 30px rgb(115, 218, 137);    
  }
  
  .imagen:focus{
    border-color: #aee9b9;  
    box-shadow: 0px 0px 30px rgb(115, 218, 137);
  }

  .imagen{
    padding-top: 20px;
    width: 20%;
    height: auto;
    float: right;
    border-radius: 50%;
}
::-webkit-scrollbar {
    display: block;
}
* {
    overflow: hidden;
}