<!-- login.component.html -->
<div class="login" style="padding-top: 3%">
        <form class="custom-form" method="get">
          <h1>Login</h1>
          <input
            type="text"
            name="user"
            [(ngModel)]="user"
            placeholder="Login User"
            required="required"
          />
          <input
            type="password"
            name="pass"
            [(ngModel)]="pass"
            placeholder="Password"
            required="required"
          />
          <div class="container">
            <a class="link" routerLink="/Register" style="color: rgb(89, 160, 104); font-size: 110%;">CREAR USUARIO</a>
          </div>
          <button (click)="onClickMe()">
            Iniciar Sesión
        </button>
        </form>
</div>
