<app-navbar></app-navbar>
<div class="container">
    <h1>MY FRIENDS</h1>

<div class="card bg-light mb-3">
    <div class="card-header">
        <h3 class="card-title">Amigos</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtXWRhkgBl5L3cvK5HU6r19l6YVViWYiGca8kzzZMDOm0bZ1-rb7mzfdFYYb1QBkoKS3Y&usqp=CAU" class="img img-responsive">
            </div>
            <div class="col-xs-10 col-md-10">
                <p class="img-responsive">Melvin Misael Joj</p>
            </div>           
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtXWRhkgBl5L3cvK5HU6r19l6YVViWYiGca8kzzZMDOm0bZ1-rb7mzfdFYYb1QBkoKS3Y&usqp=CAU" class="img img-responsive">
            </div>
            <div class="col-xs-10 col-md-10">
                <p class="img-responsive">Melvin Misael Joj</p>
            </div>           
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtXWRhkgBl5L3cvK5HU6r19l6YVViWYiGca8kzzZMDOm0bZ1-rb7mzfdFYYb1QBkoKS3Y&usqp=CAU" class="img img-responsive">
            </div>
            <div class="col-xs-10 col-md-10">
                <p class="img-responsive">Melvin Misael Joj</p>
            </div>           
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtXWRhkgBl5L3cvK5HU6r19l6YVViWYiGca8kzzZMDOm0bZ1-rb7mzfdFYYb1QBkoKS3Y&usqp=CAU" class="img img-responsive">
            </div>
            <div class="col-xs-10 col-md-10">
                <p class="img-responsive">Melvin Misael Joj</p>
            </div>           
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtXWRhkgBl5L3cvK5HU6r19l6YVViWYiGca8kzzZMDOm0bZ1-rb7mzfdFYYb1QBkoKS3Y&usqp=CAU" class="img img-responsive">
            </div>
            <div class="col-xs-10 col-md-10">
                <p class="img-responsive">Melvin Misael Joj</p>
            </div>           
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtXWRhkgBl5L3cvK5HU6r19l6YVViWYiGca8kzzZMDOm0bZ1-rb7mzfdFYYb1QBkoKS3Y&usqp=CAU" class="img img-responsive">
            </div>
            <div class="col-xs-10 col-md-10">
                <p class="img-responsive">Melvin Misael Joj</p>
            </div>           
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtXWRhkgBl5L3cvK5HU6r19l6YVViWYiGca8kzzZMDOm0bZ1-rb7mzfdFYYb1QBkoKS3Y&usqp=CAU" class="img img-responsive">
            </div>
            <div class="col-xs-10 col-md-10">
                <p class="img-responsive">Melvin Misael Joj</p>
            </div>           
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtXWRhkgBl5L3cvK5HU6r19l6YVViWYiGca8kzzZMDOm0bZ1-rb7mzfdFYYb1QBkoKS3Y&usqp=CAU" class="img img-responsive">
            </div>
            <div class="col-xs-10 col-md-10">
                <p class="img-responsive">Melvin Misael Joj</p>
            </div>           
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtXWRhkgBl5L3cvK5HU6r19l6YVViWYiGca8kzzZMDOm0bZ1-rb7mzfdFYYb1QBkoKS3Y&usqp=CAU" class="img img-responsive">
            </div>
            <div class="col-xs-10 col-md-10">
                <p class="img-responsive">Melvin Misael Joj</p>
            </div>           
        </div>
    </div>
</div>
</div>